{% extends "base.html.twig" %}

{% block body %}
<div id="content">
<h3>Evaluation de {{ eleve.nom }} {{ eleve.prenom }} : {% if noteBdd is not null %}(préalablement évalué par {{ noteBdd.professeur.nomComplet }}){% endif %}</h3>
<h4>Tp :</h4>
<p> {{ tp.nom_tp }}</p>
<h4> descriptif :</h4>
<p>  {{ tp.descriptif }}</p>
<hr>
<div id="conteneur">



{{ form_start(form) }}

 {{ form_widget(form) }}

    <div id="syntaxe">NA : Non-Acquis    |    EA : En cours d'Acquisition    |     A : Acquis    |      AM : Acquis Maitrisé</div>
 <button type="submit" class="btn btn-success">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}

votre Note : <div id="noteFinale">{% if noteBdd is not null %}{% if noteBdd != "" %}0{% else %}{{ noteBdd.note }}{% endif %}{% else %}0{% endif %}</div>/20

</div>

</div>
{% endblock %}
{% block style %}

<style>

.comp{
    
    margin-left:25px;
}

#note > div > div{
    float: right;
    margin-right:25%;
    display:inline-block;
}

#syntaxe{

    margin-top:15px;
    margin-bottom:15px;
    font-weight:bold;
    
}



#conteneur{

    width:100%;
    padding: 25px;
    text-align: center;

}
input{
    margin:5px;
}

h4{
    margin:20px;
}
p{
    margin:40px;
}



#content{
    margin:15px;
}
#noteFinale{
    display:inline-block;
}

</style>


{% endblock %}
{% block script %}
<script>
function precise(x) {
  return Number.parseFloat(x).toFixed(2);
}


$(document).on("change","input[type=radio]",function () {

    var barem=$(this).parent().prev().attr("barem");
    var mult=$(this).val()-1;
    var note=barem/3;
    note=note*mult;
    var noteActuel=parseFloat($("#noteFinale").html());
    if(noteActuel==0){
       $(this).parent().prev().attr("note",note);
       var noteFinale=noteActuel+note;
       
    }else{
        var noteFinale=noteActuel+note-parseFloat($(this).parent().prev().attr("note"));
        $(this).parent().prev().attr("note",note);
    }

    if(noteFinale<0.33)
        noteFinale=0;
    if(noteFinale>20)
        noteFinale=20;
    $("#noteFinale").html(precise(noteFinale));
    
});


</script>
{% endblock %}