{% extends "base.html.twig" %}


{% block body %}
<body>
<select id="classe">
    {% for classe in classes %}
        <option {% if eleveParClasse["eleve"] is empty %}{% else %}{% set first = eleveParClasse["eleve"]|first %}{% if classe.id == first.classe.id %}selected{% endif %}{% endif %} value="{{ classe.id }}">{{ classe.nom_classe }} {{ classe.annee }}</option>
    {% endfor %}
    
</select>
<select id="niveau">
    
    {% for niveau in niveaux %}
        <option {% if tps is empty %}
    {% else %}{% if niveau.id == tps[0].niveau.id %}selected{% endif %}{% endif %} value="{{ niveau.id }}">{{ niveau.nom }}</option>
    {% endfor %}
    
</select>
    <table>
        <tr>
            <td></td>
            {% for tp in tps %}
                <td>{{ tp.nom_tp }}</td>
            {% endfor %}
        </tr>
        {% for eleve in eleveParClasse["eleve"] %}
                <tr>
                    <td class="eleve" eleve="{{ eleve.id }}">{{ eleve.nom }} {{ eleve.prenom }}</td>
                    {% for tp in tps %}
                        <td style="background-color:{% if eleveParClasse[eleve.id]["planning"][tp.id] is defined %}{{ eleveParClasse[eleve.id]["planning"][tp.id].planning.couleur }}{% endif %}" {% if note[eleve.id][tp.id] is defined %}{% else %}data-target="#exampleModal" data-toggle="modal"{% endif %} class="case" eleve="{{ eleve.id }}" tp="{{ tp.id }}" etat={% if note[eleve.id][tp.id] is defined %}"{{ note[eleve.id][tp.id].etat }}"{% else %}"null"{% endif %}>
                            {% if note[eleve.id][tp.id] is defined %}
                                {% if note[eleve.id][tp.id].etat == "noté" %}
                                    {{ note[eleve.id][tp.id].note }} / 20
                                {% elseif note[eleve.id][tp.id].etat == "en-cours" %}
                                    commencé le {{ note[eleve.id][tp.id].date|date("d/m/Y") }}
                                {% elseif note[eleve.id][tp.id].etat == "terminé" %}
                                    terminé le {{ note[eleve.id][tp.id].date|date("d/m/Y") }}
                                {% elseif note[eleve.id][tp.id].etat == "abs" %}
                                    absent le {{ note[eleve.id][tp.id].date|date("d/m/Y") }}
                                {% endif %}
                            {% else %}
                                - 
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
        {% endfor %}
    </table>

    <table>
        
        

            <tr>
            {% for planning_ in planning %}
                <td>{{ planning_.planning.date | date("d/m/Y")  }}</td>
            {% endfor %}
            </tr>
            <tr>
            {% for planning_ in planning %}
                <td style="background-color:{{ planning_.planning.couleur }}">&nbsp; </td>
            {% endfor %}
            </tr>

        
        

    </table>
<div id="exampleModal" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Binome Absent :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button abs="oui" class="close" type="button" data-dismiss="modal" class="btn btn-secondary">Oui</button>
        <button abs="non" class="close" type="button" data-dismiss="modal" class="btn btn-primary">Non</button>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}


{% block style %}

<style>


table, th, td {
  border: 1px solid black;
}

td{
    text-align:center;
}

table,select{
    margin-top:15px;
    margin-left:10px;
}


</style>


{% endblock %}


{% block script %}

<script>
$("#classe").change(function(){
    document.location.href="/PADRE/public/Tp/index?classe="+$(this).val()+"&niveau="+$("#niveau").val();
});
$("#niveau").change(function(){
    document.location.href="/PADRE/public/Tp/index?classe="+$("#classe").val()+"&niveau="+$(this).val();
});

$(document).on("click",".eleve",function () {

    document.location.href="/PADRE/public/eleve/index?id="+$(this).attr("eleve")+"&niveau="+$("#niveau").val();


});

$(document).on("click",".case",function () {
    

    var etat=$(this).attr("etat");
    
    switch (etat) {
        case 'terminé':
            document.location.href="/PADRE/public/Tp/add?eleve="+$(this).attr("eleve")+"&tp="+$(this).attr("tp");
        break;

        case 'noté':
            document.location.href="/PADRE/public/Tp/add?eleve="+$(this).attr("eleve")+"&tp="+$(this).attr("tp");
        break;

        case 'null':
            var td=$(this);
            $('.close').click(function (e) {

                if($(this).attr("abs") !== undefined)
                    $.ajax({

                        url: "{{path('tpbegin')}}",

                        data: {"eleve":td.attr("eleve"),"tp":td.attr("tp"),"abs":$(this).attr("abs")},

                        success:function(orep){
                            
                            td.attr("etat","en-cours").html("commencé le "+orep.date).attr("data-target","");
                            if(orep.abs=="oui" && orep.id!=td.attr("eleve"))
                                $("td[eleve="+orep.id+"][tp="+td.attr("tp")+"]").html("absent le "+orep.date).attr("data-target","");
                            else
                                $("td[eleve="+orep.id+"][tp="+td.attr("tp")+"]").html("commencé le "+orep.date).attr("data-target","");
                        }

                    });
            
            });
        break;
        case 'en-cours':
            var td=$(this);
            $.ajax({

                url: "{{path('tpend')}}",

                data: {"eleve":$(this).attr("eleve"),"tp":$(this).attr("tp")},

                success:function(orep){
                    
                    console.log(orep);
                    td.attr("etat","terminé").html("terminé le "+orep.date);
                    if(orep.abs!="abs" && orep.id!=td.attr("eleve") && orep.abs!="noté")
                        $("td[eleve="+orep.id+"][tp="+td.attr("tp")+"]").html("terminé le "+orep.date);
                }
                
                });
            
        break;
         case 'abs':
            var td=$(this);
            $.ajax({

                url: "{{path('tpbegin')}}",

                data: {"eleve":$(this).attr("eleve"),"tp":$(this).attr("tp"),"abs":"non"},

                success:function(orep){
                    
                    td.attr("etat","en-cours").html("commencé le "+orep.date);
                }

            });
        break;
}
    
})


</script>
{% endblock %}