{% extends "base.html.twig" %}


{% block body %}
<body>

    <table>
        <tr>
            <td></td>
            {% for tp in tps %}
                <td>{{ tp.nom_tp }}</td>
            {% endfor %}
        </tr>
        {% for eleve in eleveParClasse[1] %}
                <tr>
                    <td>{{ eleve.nom }} {{ eleve.prenom }}</td>
                    {% for tp in tps %}
                        <td class="case" eleve="{{ eleve.id }}" tp="{{ tp.id }}">
                            {% if note[eleve.id][tp.id] is defined %} 
                                {{ note[eleve.id][tp.id].note }} / 20 
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}


{% block style %}

<style>


table, th, td {
  border: 1px solid black;
}

td{
    text-align:center;
}

</style>


{% endblock %}


{% block script %}

<script>


$(document).on("click",".case",function () {
    console.log("cc");
    document.location.href="/PADRE/public/Tp/add?eleve="+$(this).attr("eleve")+"&tp="+$(this).attr("tp");
})


</script>
{% endblock %}