{% extends "base.html.twig" %}


{% block body %}
<body>
<select id="classe">
    
    {% for classe in classes %}
        <option {% if eleveParClasse is empty %}
    {% else %}{% if classe.id == eleveParClasse[0].Classe.id %}selected{% endif %}{% endif %} value="{{ classe.id }}">{{ classe.nom_classe }} {{ classe.annee }}</option>
    {% endfor %}
    
</select>
<select id="niveau">
    
    {% for niveau in niveaux %}
        <option {% if tps is empty %}
    {% else %}{% if niveau.id == tps[0].niveau.id %}selected{% endif %}{% endif %} value="{{ niveau.id }}">{{ niveau.nom }}</option>
    {% endfor %}
    
</select>

    <table>
        <tr>
            <td></td>
            {% for tp in tps %}
                <td>{{ tp.nom_tp }}</td>
            {% endfor %}
        </tr>
        {% for eleve in eleveParClasse %}
                <tr>
                    <td class="eleve" eleve="{{ eleve.id }}">{{ eleve.nom }} {{ eleve.prenom }}</td>
                    {% for tp in tps %}
                        <td>
                            {% if note[eleve.id][tp.id] is defined %}
                                {% if note[eleve.id][tp.id].etat == "noté" %}
                                    {{ note[eleve.id][tp.id].note }} / 20
                                {% else %}
                                    - 
                                {% endif %}
                            {% else %}
                                - 
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
        {% endfor %}
    </table>

</body>
{% endblock %}


{% block style %}

<style>


table, th, td {
  border: 1px solid black;
}

table,select{
    margin-top:15px;
    margin-left:10px;
}



td{
    text-align:center;
}

</style>


{% endblock %}


{% block script %}

<script>
$(document).on("click",".eleve",function () {

    document.location.href="/PADRE/public/eleve/index?id="+$(this).attr("eleve")+"&niveau="+$("#niveau").val();

});
$("#classe").change(function(){
    document.location.href="/PADRE/public/Tp/resume?classe="+$(this).val()+"&niveau="+$("#niveau").val();
});
$("#niveau").change(function(){
    document.location.href="/PADRE/public/Tp/resume?classe="+$("#classe").val()+"&niveau="+$(this).val();
});



</script>
{% endblock %}