{% extends "base.html.twig" %}
{% block script %}
<script>



function setbarem(id){


    console.log(id)
    $(".spinner"+id).each(function(){

                            $.ajax({

                                url: "{{path('source_create')}}",

                                method: "POST",

                                data: {"idTp":id,"idCompetence":$(this).attr("idCompetence"),"barem":$(this).val()},

                                error: function(){
                                    alert("une erreur est intervenu");
                                }

                            });
                            
                            console.log($(this).val());
                            console.log($(this).attr("idCompetence"));
                        });
}

$(document).ready(function(){


        
        /*$(document).on("change","input",function(){
            alert("cc");
            console.log($(this).val());

        });*/
        {% for tp in tps %}
            $("btn{{ tp.id }}").prop("disabled",true);
                   

            $(".spinner{{ tp.id }}").spinner({ min: 0, max: 20,stop: function (event, ui) {
                        var somme=0;
                        
                        $(".spinner{{ tp.id }}").each(function(){
                            somme+=parseInt($(this).val());
                        });

                        
                        
                        if(somme==20){
                            $(".spinner{{ tp.id }}").each(function(){
                                $(this).next(".ui-spinner-up").hide();
                                $("#btn{{ tp.id }}").attr("disabled",false);
                            });
                        }else
                            $(".spinner{{ tp.id }}").each(function(){
                                $(this).next(".ui-spinner-up").show();
                                $("#btn{{ tp.id }}").attr("disabled",true);
                            });
                        
                        

                    }
            });
            var somme=0;
            $(".spinner{{ tp.id }}").each(function(){
                            
                            somme+=parseInt($(this).val());
                        });
                        
            if(somme==20){  
                
                $(".spinner{{ tp.id }}").each(function(){
                                $(this).next(".ui-spinner-up").hide();
                            });

            }  
                   
                           
        {% endfor %}
        
    
    
    
    
});
    
$('select').change(function(){
    document.location.href="/PADRE/public/Source/index?num="+$(this).val()
});
</script>


{% endblock %}
{% block body %}
<body>

    <select id='number'>
        <option selected></option>
        {% for tp in tpA %}
            <option value="{{ tp.numero }}">{{ tp.numero }}</option>
        {% endfor %}
    </select>

    <table class="table table-striped">
        <thead>
        <tr>
            <th rowspan="4">Capacite</th>
            <th rowspan="4" colspan="2">Competence</th>
       
            <th>Domaine :</th>
            {% for tp in tps %}
                <th scope="col">{{ tp.domaine }}</th>
            {% endfor %}
        </tr>
        <tr>
           
            <th>numero :</th>
            {% for tp in tps %}
                <th scope="col">{{ tp.numero }}</th>
            {% endfor %}
        </tr>
        <tr>
            
            <th>nom fichier :</th>
            {% for tp in tps %}
                <th scope="col">{{ tp.nom_fichier }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Nom tp :</td>
            {% for tp in tps %}
                <th scope="col">{{ tp.nom_tp }}</th>
            {% endfor %}
        </tr>
        </thead>
        
        {% for capacite in capacites %}
            <tr>
                <th rowspan={{ competences[capacite[0].id]|length + 1 }} scope="row" >{{ capacite[0].intitule }}</th>
            </tr>
            {% for competence in competences[capacite[0].id] %}
                    <tr>
                        <th scope="row">{{ competence.code_competence }}</th>
                        <th scope="row">{{ competence.intitule }}</th>
                        <td></td>
                        {% for tp in tps %}
                            
                            {% if competencesTp[competence.id][tp.id] is defined %}

                                <td><input id="spinner{{ tp.id }}{{ competence.id }}" idCompetence="{{ competence.id }}"  class="spinner{{ tp.id }}" value="{{ competencesTp[competence.id][tp.id][0].barem_competence }}" name="value" /></td>

                            {% else %}

                                <td><input id="spinner{{ tp.id }}{{ competence.id }}" idCompetence="{{ competence.id }}"  class="spinner{{ tp.id }}" value="0" name="value" /></td>

                            {% endif %}
                        {% endfor %}
                    </tr>
            {% endfor %}
            
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% for tp in tps %}
            <td><input type="button" class="form btn btn-primary" id="btn{{ tp.id }}" disabled="true" onclick="setbarem({{ tp.id }})" value="valider" style="margin-left:50%;margin-right:50%"></td>
            {% endfor %}
        </tr>
    </table>


</body>




 

{% endblock %}



{% block style %}

<style>

#conteneur{

    width:100%;
    padding: 25px;
    text-align: center;

}

table, th, td {
  border: 1px solid black;
  
}
th{
    table-layout: fixed; 
}


</style>


{% endblock %}